* {
  box-sizing: border-box;
}

* {
  padding: 0;
  margin: 0;
}

h3 {
  margin-bottom: 0;
}

.start {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-repeat: no-repeat;
  background-position: top;
  background-size: contain;
  background: #faf7f2;
}

.entry-content {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin: 0 auto;
  padding-top: 3rem;
}
.entry-content img {
  max-width: 10%;
}
.pizza-sizes {
  display: flex;
  width: 100%;
  justify-content: space-between;
  padding-right: 15%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.tri-left {
  background-image: url("/Assets/iteration-2-aseets/cta/kart-1.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  display: flex;
  border-radius: 1rem;
  width: 100%;
  margin: 1rem;
  aspect-ratio: 1.5;
}

.right-card-one {
  background-image: url("/Assets/iteration-2-aseets/cta/kart-2.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 80%;
  padding: 1rem;
  padding-bottom: 7rem;
  border-radius: 1rem;
}

.right-card-two {
  background-image: url("/Assets/iteration-2-aseets/cta/kart-3.png");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1rem;
  padding-bottom: 7rem;
  border-radius: 1rem;
  background-position: 80%;
}

.main-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  margin-bottom: 3rem;
}

ul {
  
  display: flex;
  width: 100%;

  justify-content: center;
  align-items:center ;
  text-align: center;
  gap: 2rem;
}
.ul1-link{
  text-decoration: none;
  color: #292929;
}
.ul1-container{

    margin: 0;
    width: 100%;
    box-sizing: border-box;
}
.order-button {
  border: none;
  margin-top: 50px;
  font-size:16px;
}

.ul1 {
  background: white;
  padding: 20px;
  position: relative;
  text-decoration: none;
}

.ul2 li {
  border: 1px solid white;
  border-radius: 2.5rem;
  background: white;
  padding: 0rem 1rem;
  justify-content: center;
}
#catchword {
  font-size: 4rem;
  color: white;
  line-height: 4rem; 
  margin-top: 0;
  font-weight: lighter;
}

#firsat {
  margin-bottom: 0;
  font-family: "Satisfy";
  color: #FDC913;
  font-size: x-large;
}

.entry-content {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  text-align: center;
  width: 100%;
  aspect-ratio: 2/1;
  background-image: url("/Assets/Iteration-1-assets/home-banner.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  align-items: center;
}

.entry-content img {
  max-width: 90%;
  margin: 0 20%;
}

.giris-btn {
  padding: 0.5rem 2.5rem;
  border: 1px solid #fdc913;
  border-radius: 3rem;
  font-weight: bold;
  font-size: large;
  background: #fdc913;
  line-height: 2rem;
}

.order-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.order-form-header {
  background: #ce2829;
  text-align: center;
  padding-top: 2.5rem;
  color: white;
}
.order-form-header img {
  margin-bottom: 2rem;
}
.form-banner{
  margin: 0 auto;
  padding: 0;
}
.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 600px;
  margin: 0 auto;
  
  font-family: "Barlow";
}


.boyut-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.boyut-sec h3,
.hamur-sec h3 {
  margin-bottom: 0;
  
}

.hamur-sec {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.ek-malzemeler {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-top: 1rem;
  margin-bottom: 1rem;

  

}
.malzeme input{
  display: table-cell;
	vertical-align: middle;
	text-align: center;
  
}
.malzeme{
  border-radius: 150px;
}


.order-total button {
  padding: 5%;
  width: 100%;
  margin-top: -1rem;
  display: block;
  border-radius: 0.3rem;
}

.dropdown-con{
 height: 56px;
 width: 258px;
 background: #FAF7F2;
 border: none;
 font-weight:lighter;
 font-size:16px;



}
.dropdown-link{
  background-color: #FAF7F2;
  border: none;
}
button {
  background: #fdc913;
}

#red {
  color: #ce2829;
  font-weight: bold;
}

.submit-btn {
  margin: 0;
}

.order-total-info {
  display: flex;
  flex-direction: column;
  padding-left: 3rem;
  gap: 1rem;
  padding-top: 2.5rem;
  background-color:  #D9D9D9;
  height: 220px;
}

.isim-alani {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

#text {
  border-radius: 0.3rem;
  padding: 0.5rem;
}

.error-message {
  color: rgb(255, 255, 255);
  font-weight: bold;
  border: 1px solid rgb(156, 156, 156);
  border-radius: 0.3rem;
  background: rgb(117, 117, 117);
  padding-left: 0.5rem;
  padding-bottom: 0.2rem;
}
input[type="checkbox"] {
  width: 50px;
 background-color: #ff0000;
  height: 40px;
  accent-color: #fdc913; 
  border-radius: 500%;
  
  
}

.order-summary-page {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 3rem;
  align-items: center;
  background: #CE2829;

  color: white;
  font-family: "Roboto Condensed";
  text-align: center;
  padding-top: 3rem;
  padding-bottom: 8rem;
  height: 100vh;
  font-weight: lighter;
}

.order-summary-page h3 {
  margin-bottom: 1rem;
  font-weight: 300;
}

.price-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  border: 1px solid white;
  padding: 3rem;
  border-radius: 1rem;
  gap: 1rem;
}

.price-container h3 {
  font-weight: 300;
}

#siparis-alindi {
  font-size: 4rem;
}

.content-div {
  background: #FAF7F2;
  width: 100%;
  color: #5f5f5f;
  display: flex;
  flex-direction: column;
  
}

.content-div h3 {
  font-weight: bold;
  margin: 0;
  margin-bottom: 1rem;
}

.content-ucret {
  font-size: xx-large;
  font-weight: bold;
  color: black;
}

.content-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.content-points {
  display: flex;
  gap: 5rem;
}



.ul2 li:nth-child(2) {
  background: #292929;
  color: white;
  border-color: #292929;
}

li {
  list-style-type: none;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  flex-wrap: nowrap;
}

.tri {
  display: flex;
  gap: 1rem;
  max-width: 50%;
  color: white;
  justify-content: center;
  flex-wrap: wrap;
}

.tri-right {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1rem;
  width: 100%;
  padding: 1rem;
}

.menu-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  justify-content: center;
}

.pua {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.ingredient-account{
  float: right;
}
.menuler {
  display: flex;
  flex-direction: column;
  gap: 0;
}

.menuler h4 {
  margin-bottom: 2rem;
}

.insta {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: flex-start;

}

.insta-photos {
  display: flex;
  flex-wrap:wrap;
  align-items: flex-start;
  gap: 0.5rem;
  width: 350px;
}
strong{
  white-space: pre-wrap;
}
.ek-malzemeler p {
  color: #5f5f5f;
}

.ek-malzemeler h3 {
  margin-bottom: 0.5rem;
}

.malzeme {
  min-width: 170px;
  
}
.malzeme value{
 background-color: #292929;
}
#malzeme-text{
  color: #ce2829;
}
.malzemos {
  display: flex;
  flex-wrap: wrap;
  row-gap: 1rem;
  margin-top: 1rem;
  
}

.order-note {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid lightgray;
  

}

#order-note {
  width: 100%;
  margin-bottom: 2rem;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border-color: #5f5f5f;
  background: #FAF7F2;
}

.hesap-butonlari {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  width: 100%;
  margin-top: 1rem;
  flex-wrap: wrap;
  flex: 1;
}

.pieces-butonlari {
  display: flex;
  width: 50px;
  align-items: center;
}

#ekle {
  padding: 30% 50%;
  border-right: 1px solid lightgray;
  border-top-right-radius: 0.3rem;
  border-bottom-right-radius: 0.3rem;
}

#cikar {
  padding: 30% 50%;
  border-right: 1px solid lightgray;
  border-top-left-radius: 0.3rem;
  border-bottom-left-radius: 0.3rem;
}

#piece {
  padding: 30% 50%;
  border: 1px solid lightgray;
  margin-bottom: 0;
  text-decoration: none;
}

.order-total {
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  flex: 0.5;
  gap: 1rem;
  padding-bottom: 0;
  margin-bottom: 30%;
  border: 1px solid lightgray;
  flex: 0.68;
}
.pua div {
  display: flex;
  gap: 2rem;
}

.xlarge-yazi {
  font-size: xx-large;
  margin: 0;
  font-weight: bold;
}

.card-item-points p {
  margin: 0;
}

.text-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

#satisfy {
  font-family: "Satisfy";
  margin: 0;
  font-size: x-large;
  color: #ce2829;
}

.left-card h2 {
  font-size: 2rem;
  font-family: "Quattrocento";
}

.tri button {
  border-radius: 1.5rem;
  background-color: aliceblue;
  color: #ce2829;
  padding: 0.5rem 1rem;
}

h4 span {
  color: #ce2829;
}

.right-card-two {
  color: black;
}

.card {
  padding: 1rem;
  border-radius: 1rem;
}

.card h4 {
  font-weight: bold;
}

.footer-section {
  display: flex;
  justify-content: center;
  gap: 3rem;
  background: #292929;
  padding: 2rem;
  color: #faf7f2;
  flex-wrap: wrap;
}

.iconlu-bolum {
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  margin-top: 2rem;
}

.iconke {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.malzeme_sipari_con{
  width: 250px;

}

.malzemeler-container{
  background-color: #292929;
  display: block;
  width: 300px;
  flex-wrap:wrap; /* Sığmayanların alt satıra geçmesini sağlar */
  gap: 10px; /* Aralarına boşluk koyar */
  content: " ,";
  border-radius: 5px;
  padding: 8px 12px;
  font-size: 14px;
}
.container-1{

}
.malzemeler-container div {
 
}



  .checkbox-wrapper-56 *,
  .checkbox-wrapper-56 ::after,
  .checkbox-wrapper-56 ::before {
    box-sizing: border-box;
  
    
  }

  .checkbox-wrapper-56 .container-1 input {
    background-color: #FAF7F2;
    opacity: 1;
    -webkit-appearance: none;
    cursor: pointer;
    height: 50px;
    width: 50px;
    box-shadow: -10px -10px 15px rgba(255,255,255,0.5),
    10px 10px 15px rgba(0,0,70,0.12);
    border-radius: 50%;
    border: 8px solid #ececec;
    outline: none;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: .5s;
  }

  .checkbox-wrapper-56 .container-1 {
    
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .checkbox-wrapper-56 .container-1 input::after {
    
    transition: .5s;
    font-family: monospace;
    content: '';
    color: #7a7a7a;
    font-size: 25px;
    left: 0.35em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border: solid #7a7a7a;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }

  .checkbox-wrapper-56 .container-1 input:checked {
    box-shadow: -10px -10px 15px #b4975d,
    10px 10px 15px #b4975d,
    inset -10px -10px 15px #b4975d
    inset 10px 10px 15px #b4975d;
    background-color: #ffeecc;
    transition: .5s;
    
  }

  .checkbox-wrapper-56 .container-1 input:checked::after {
    transition: .5s;
    border: solid #c28e8e;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
  }


.copyright {
  display: flex;
  justify-content: space-between;
  background: #292929;
  border-top: 1px solid rgb(35, 128, 131);
  padding: 0 1rem;
  align-items: center;
  color: white;
}

.lezzet {
  font-family: "Satisfy";
  color: #fdc913;
  font-size: x-large;
  margin-bottom: 0;
}

#siparis-alindi {
  font-weight: 200;
}

.sonuc-text {
  border-bottom: 1px solid white;
}

.secim-harci {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
}

@media (min-width: 1100px) {
  
  .left-card h2 {
    font-size: 5rem;
  }
}

@media (max-width: 1100px) {
  ul,
  .text-container {
    padding: 0 1rem;
  }

  li {
    width: 30%;
  }
}
@media (min-width: 1460px) {
  .tri{
    width: 100%;
    flex-wrap: nowrap;
    gap: 0;
  }
}
@media (max-width:1024px) {
    .ul2{
      width: 60%;
      
    flex-wrap: wrap;
    gap: 1rem;
    font-size: .75rem;
    }
    .ul2 li {
      height: 60px;
    }
}
@media (max-width:962px) {
  .ul1{
    width: 100%;
    
  flex-wrap: wrap;
  gap: 1rem;
  font-size: 1rem;
  }
  .ul1 li{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
 
  }
}
@media (max-width: 666px) {
  .footer-section {
    justify-content: flex-start;
  }
  li
  .giris-btn {
    margin-bottom: 30rem;
  }

  #slogan {
    max-width: 70%;
    margin: 0 auto;
    font-size: 4rem;
    line-height: 5rem;
    margin-top: 0;
    margin-bottom: 2rem;
  }

  .tri {
    width: 80%;
    max-width: none;
  }

  .hesap-butonlari {
    flex-direction: column-reverse;
  }

  .order-total {
    margin: 0;
    width: 100%;
    text-align: center;
  }
}